.color {color: #FFF4A8;} .color {color: #B98913;}
.color {color: #FFE49E;}
.color {color: #FFB269;}
.color {color: #FF94C2;} .color {color: #FF7BB3;}
.color {color: #F8F8F8;} .color {color: #353535;}
.color {color: #F5F5F5;} .color {color: #707070;}
.color {color: #EEEEEE;}
.color {color: #EDEDED;} .color {color: #959595;}
.color {color: #DDDDDD;} .color {color: #757575;}
.color {color: #CCCCCC;}
.color {color: #AAE0FE;} .color {color: #78CEFE;}
.color {color: #AAB6FE;} .color {color: #788BFD;}
.color {color: #88846F;}
.color {color: #7BFFC6;} .color {color: #63CEA0;}
.color {color: #69BCFE;} .color {color: #50B1FE;}
.color {color: #66D9EF;} .color {color: #38CEEA;}
.color {color: #303030;} .color {color: #DDDDDD;}

.color {color: #F8F8F8;}
.color {color: #58B6F0;} .color {color: #41ACEE;}
.color {color: #505050;}
.color {color: #252525;}
.color {color: #235997;}
